.form-wrapper {
	width: 100%;
	background-color: #002157;
}

#search-form {
	display: flex;
	justify-content: center;
	gap: 10px;

	width: auto;
	padding-block: 10px;

	& input {
		min-width: 200px;
		height: 30px;
		padding-inline: 5px;

		border: none;
		border-radius: 7px;

		text-align: center;

		&::placeholder {
			font-weight: 300;
			text-align: center;
		}
	}
}

button {
	min-width: 100px;
	height: 30px;
	padding: 0;

	border: none;
	border-radius: 7px;

	font-weight: 400;
	line-height: 1;
	text-transform: uppercase;

	cursor: pointer;
	transition: color 250ms, background-color 250ms;

	&:hover,
	&:focus {
		color: rgba(0, 0, 0, 0.8);
		background-color: #ffbe2f;
	}

	&.load-more {
		display: block;
		margin-block: 10px 30px;
		margin-inline: auto;

		border: 1px solid rgba(0, 0, 0, 0.8);

		&.hidden {
			display: none;
		}
	}
}
